<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="runClasses.RSGQATC1"/>
      <class name="runClasses.CTPINTTC1"/>
      <class name="runClasses.RSGINTTC1"/>
      <class name="runClasses.CTPQATC1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
